/* Basic styles for the body */
body {
  font-family: "Arial", sans-serif; /* Font selection */
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center;
  min-height: 100vh; /* Full height */
  background-color: #f8f9fa; /* Background color */
  margin: 0; /* Margin reset */
  padding: 20px; /* Padding */
}

/* Styles for the app title */
#app_title {
  color: #007bff; /* Text color */
  margin-bottom: 40px; /* Spacing */
  font-size: 2.5rem; /* Text size */
}

/* Styles for the form */
#form {
  background-color: #ffffff; /* Background color */
  padding: 20px; /* Padding */
  border-radius: 10px; /* Border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  width: 100%; /* Width */
  max-width: 480px; /* Max width */
  box-sizing: border-box; /* Box sizing */
}

#input_task {
  width: 70%; /* Width */
  padding: 10px; /* Padding */
  margin-right: 10px; /* Margin */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Border radius */
  word-wrap: break-word; /* Word wrap */
  overflow-wrap: break-word; /* Overflow wrap */
}

#add_but {
  width: 20%; /* Width */
  padding: 10px; /* Padding */
  background-color: #28a745; /* Background color */
  color: white; /* Text color */
  border: none; /* Border removal */
  border-radius: 5px; /* Border radius */
  cursor: pointer; /* Cursor style */
}

#add_but:hover {
  background-color: #218838; /* Hover color */
}

/* Styles for the to-do list */
ul {
  list-style-type: none; /* List style */
  padding: 0; /* Padding reset */
  width: 100%; /* Width */
  max-width: 600px; /* Max width */
  margin-top: 20px; /* Margin */
}

li {
  background-color: #ffffff; /* Background color */
  padding: 15px; /* Padding */
  margin-bottom: 10px; /* Margin */
  border-radius: 5px; /* Border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: space-between; /* Spacing */
}

.action-buttons {
  display: flex; /* Flex display */
}

#date_time {
  font-size: 0.5rem; /* Font size */
  color: #6c757d; /* Text color */
  margin-left: 10px; /* Margin */
}

/* Styles for the complete and delete buttons */
#complete_but,
#delete_but {
  padding: 5px 15px; /* Padding */
  text-decoration: none; /* No underline */
  color: #fff; /* Text color */
  border-radius: 5px; /* Rounded corners */
  font-size: 0.9rem; /* Font size */
  margin-left: 10px; /* Left margin */
}

/* Background color for the complete button */
#complete_but {
  background-color: #17a2b8;
}

/* Background color for the delete button */
#delete_but {
  background-color: #dc3545;
}

/* Opacity for the complete and delete buttons on hover */
#complete_but:hover,
#delete_but:hover {
  opacity: 0.8;
}

/* Styles for the completed and deleted lists */
#completed,
#deleted {
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
}

/* Font size for the spans in the completed and deleted lists */
#completed span,
#deleted span {
  font-size: 0.5em; /* Font size */
}

/* Cursor style for the h2 elements */
h2 {
  cursor: pointer;
}

/* Add an arrow to the right of each h2 element */
h2::after {
  content: ""; /* The content is empty */
  display: inline-block; /* The pseudo-element is an inline-level block container */
  width: 0; /* The width is 0 */
  height: 0; /* The height is 0 */
  margin-left: 5px; /* Add a left margin */
  vertical-align: middle; /* Align the pseudo-element vertically in the middle */
  border-top: 5px solid transparent; /* The top border is transparent */
  border-bottom: 5px solid transparent; /* The bottom border is transparent */
  border-left: 5px solid; /* The left border is solid, creating the arrow */
}

/* Change the arrow to point upwards when the h2 element has the class 'open' */
h2.open::after {
  border-left: 5px solid transparent; /* The left border is transparent */
  border-right: 5px solid transparent; /* The right border is transparent */
  border-top: 5px solid; /* The top border is solid, creating the arrow */
}
